{% load static %}
<!doctype html >
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static "css/css_code.css" %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="leftadv" >
{% for l in leftadv1 %} <img src ="{{ l.advimg.url }}" > {% endfor %}
{% for l in leftadv2 %} <img src ="{{ l.advimg.url }}" > {% endfor %}
{% for l in leftadv3 %} <img src ="{{ l.advimg.url }}" > {% endfor %}
{% for l in leftadv4 %} <img src ="{{ l.advimg.url }}" > {% endfor %}
{% for l in leftadv5 %} <img src ="{{ l.advimg.url }}" > {% endfor %}
</div>

<div class="rightadv" >
{% for l in rightadv1 %} <img src ="{{ l.advimg.url }}" > {% endfor %}
{% for l in rightadv2 %} <img src ="{{ l.advimg.url }}" > {% endfor %}
{% for l in rightadv3 %} <img src ="{{ l.advimg.url }}" > {% endfor %}
{% for l in rightadv4 %} <img src ="{{ l.advimg.url }}" > {% endfor %}
{% for l in rightadv5 %} <img src ="{{ l.advimg.url }}" > {% endfor %}
</div>

<div class="main1">
<nav class="navbar navbar-default">
<h1 id="h11">తెలుగు  వన్ న్యూస్	</h1>
</nav>
<br>

<a href="{% url 'local'  %}" class="btn btn-success" id="bu1" target="_blank" >ప్రాంతీయ  వార్తలు</a>

<br><br>

<!-- 1st row -->

<div class="row">
<div class="col-sm-6 box">
{% for l in local11 %}
<div class="cim1">
<img src="{{ l.newsimage1.url }}" id="iim3"></div>
<div class="ca3"><a  href="{% url 'sub' l.newstitle %}" id="ia1" target="_blank" >{{ l.newsheading }}</a></div>
 {% endfor %}
</div>


<div class="col-sm-6 box">
{% for l in local12 %}
<div class="cim1">
<img src="{{ l.newsimage1.url }}" id="iim3"></div>
<div class="ca3"><a  href="{% url 'sub' l.newstitle %}" id="ia1" target="_blank" >{{ l.newsheading }}</a></div>
 {% endfor %}
</div>

</div>
</div>

<br>
<!-- 2nd row -->

<div class="main2">
<div class="row">
<div class="col-sm-6 box">

{% for l in local21 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

<div class="col-sm-6 box">

{% for l in local22 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

</div>

<!-- 3rd row -->
<div class="main2">
<div class="row">
<div class="col-sm-6 box">

{% for l in local31 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

<div class="col-sm-6 box">

{% for l in local32 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

</div>

<!-- 4th row -->
<div class="main2">
<div class="row">
<div class="col-sm-6 box">

{% for l in local41 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

<div class="col-sm-6 box">

{% for l in local42 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

</div>

<!-- 5th row -->
<div class="main2">
<div class="row">
<div class="col-sm-6 box">

{% for l in local51 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

<div class="col-sm-6 box">

{% for l in local52 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

</div>
<!-- 6th row -->
<div class="main2">
<div class="row">
<div class="col-sm-6 box">

{% for l in local61 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

<div class="col-sm-6 box">

{% for l in local62 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

</div>
<!-- 7th row -->
<div class="main2">
<div class="row">
<div class="col-sm-6 box">

{% for l in local71 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

<div class="col-sm-6 box">

{% for l in local72 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

</div>
<!-- 8th row -->
<div class="main2">
<div class="row">
<div class="col-sm-6 box">

{% for l in local81 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

<div class="col-sm-6 box">

{% for l in local82 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

</div>
<!-- 9th row -->
<div class="main2">
<div class="row">
<div class="col-sm-6 box">

{% for l in local91 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

<div class="col-sm-6 box">

{% for l in local92 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

</div>
<!-- 10th row -->

<div class="main2">
<div class="row">
<div class="col-sm-6 box">

{% for l in local101 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

<div class="col-sm-6 box">

{% for l in local102 %}
<div class="cim2">
<img src="{{ l.newsimage1.url }}" id="iim2"></div>
<div class="ca4"><a  href="{% url 'sub' l.newstitle %}" id="ia2" target="_blank"> {{ l.newsheading }} </a></div>
 {% endfor %}
</div>

</div>


<!-- bottom  -->


<div class="row">
<div class="col-sm-3 box"> </div>
<div class="col-sm-6 box" style="background-color:black;color:white;"> 
<p style="text-align:center">Copy Rights Reserved <p>
<p style="text-align:center">contact below to Advertise here<p>
<p style="text-align:center">samba848@gmail.com<p>

</div>
<div class="col-sm-3 box"> </div>
</div>

</div>

</body>

<script src="{% static "css/jscript.js" %}"></script>
</html>